<div class="well"><h2>New Product Added</h2>
  <form class="form-horizontal">
      <div class="form-group has-feedback has-warning">
          <label for="txtBrand" class="control-label col-md-2">Brand</label>
          <div class="col-md-3">
              <div class="input-group">
                  <span class="input-group-addon">#</span>
                  <input type="text" placeholder="Enter Brand" id="txtBrand" class="form-control" />
              </div><span class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
      </div>
      <div class="form-group has-feedback has-warning">
          <label class="col-md-2 control-label" for="txtPrice">Price</label>
          <div class="col-md-3">
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input class="form-control col-md-9" type="text" placeholder="Enter Price" id="txtPrice" />
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
      </div>
      <div class="form-group has-feedback has-warning">
          <label for="txtModel" class="control-label col-md-2">Model</label>
          <div class="col-md-3">
              <div class="input-group">
                  <span class="input-group-addon">#</span>
                  <input id="txtModel" placeholder="Enter Model" class="form-control" />
              </div>
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
      </div>
      <div class="form-group has-feedback has-warning">
          <label for="cbInStock" class="control-label col-md-2">In Stock</label>
          <div class="col-md-3">
              <div class="input-group">
          <input id="cbInStock" placeholder="Enter Model" type="checkbox" />
          </div>
        </div>
      </div>
  </form>
</div>
